<div class="text-center">
  <form class="form-signin">
    <h4 class="mb-3 login">Client Login</h4>
    <label for="inputEmail" class="sr-only">Email</label>     <!--     sr-only => Shows the lable only for desability browser-->
    <input type="email" id="inputEmail"
           name="email" placeholder="Inform your Email"
           class="form-control mb-2" [(ngModel)]="user.email"
           #email="ngModel" email required />

    <!--<div class="invalid-feedback mb-2" *ngIf="email.invalid && (email.dirty || email.touched)">-->
    <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
      <div *ngIf="email.errors.required">
        Email must be informed!
      </div>
      <div *ngIf="email.errors.email">
        Invalid Email Format
      </div>
    </div>

    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword"
           name="password" placeholder="Password"
           class="form-control mb-2" [(ngModel)]="user.password"
           #password="ngModel" required />

    <!--<div class="invalid-feedback mb-2" *ngIf="password.invalid && (password.dirty || password.touched)">-->
    <div class="alert alert-danger" *ngIf="password.invalid && (password.dirty || password.touched)">
      <div *ngIf="password.errors.required">
        Password must be informed!
      </div>
    </div>

    <button class="btn btn-primary btn-block mb-3" type="submit" (click)="enter()">
      Enter
    </button>

    <div class="img-box">
      <img src="../../../assets/image/TDM_Store-logo.jpg" class="img-size-md" />
    </div>

    <!-- SHOW THAT USER IS LOGGED IN
  <div class="alert alert-success" role="alert"  *ngIf="authentifiedUser">
    User Authentified!
  </div>-->

  </form>
</div>



<!--[ngClass]="{
 'is-invalid':email.invalid && (email.dirty || email.touched),
 'is-valid':email.valid && (email.dirty || email.touched)
}"
-->

<!--
  
-->
<!--
[ngClass]="{
 'is-invalid':senha.invalid && (senha.dirty || senha.touched),
 'is-valid':senha.valid && (senha.dirty || senha.touched)
}"
-->

<!--(click)="enter()" [disabled]="activate_spinner"-->
<!--<div>Novo por aqui? <a [routerLink]='["/novo-usuario"]'>Cadastre-se</a></div>

<div class="alert alert-danger" *ngIf="mensagem">

</div>

<img src="../../../assets/img/quick-b-logo.jpg" />-->


<!--<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="activate_spinner"></span>-->
